.modal {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #00274d; 
  color: #ffcb05;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.modal_header h3 {
  margin: 0;
  font-size: 1.6rem;
  color: #ffcb05; 
}


.modal_header i {
  cursor: pointer;
  font-size: 1.4rem;
  color: #ffcb05;
  transition: color 0.2s ease;
}

.modal_header i:hover {
  color: #e40000; 
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 15px 0;
}

.modal_body {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  padding: 10px 15px;
  background-color: #f0f8ff; 
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.details {
  margin-right: 8px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #555;
}

.file-input {
  margin-top: 20px;
}

.file-input .details {
  font-weight: 600;
  margin-bottom: 5px;
}

.form_footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 25px;
}
.input-box{
  max-width : 30%;
}
textarea[name="description"]{
  width: 200%;
  height: 50px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}


.modal_header i:hover {
  color: #f84936; 
}

.custum-file-upload {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border: 2px dashed #00274d; 
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  margin-top: 5px;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 40px;
  fill: #00274d; 
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #00274d; 
}

.custum-file-upload input {
  display: none;
}
.file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 100px; 
  margin-bottom: 20px;
}

.image-preview img {
  margin-top: 35px;
  max-width: 175px;
  max-height: 175px;
  object-fit: cover;
  border-radius: 6px;
}

