HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore local and production environment configuration files
application-local.properties
application-prod.properties
application.properties

# Ignore environment variable files (if used)
.env
*.env

# Ignore logs and temp files
logs/
*.log
nohup.out

# Ignore Maven and IntelliJ IDEA/VS Code files (if applicable)
target/
*.iml
.idea/
.vscode/
